/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.nm {
  margin: 0 !important;
}

div {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fefefe;
    color: #333;
  }

.container {
  max-width: 1366px;
  margin: 0 auto;
  background: #fefefe;
}

header .top {
  border-bottom: 1px solid #dfdfdf;
  padding: 1em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top img {
  margin-right: 0.5em;
}

header .top span {
  font-weight:  700;
  margin-right: 1em;
}

header .top .right span {
  font-weight: 300;
}

header .top .right strong {
  font-weight: 700;
}

header .top .right img {
  height: 1.5em;
}

header .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0em;
  border-bottom: 1px solid #dfdfdf;
}

header .middle .logo {
  font-size: 2em;
  font-weight: 300;
}

header .middle .logo img {
  margin: 0 0.3em 0 0;
}

header .middle .logo h1 {
  display: inline-block;
  font-size: inherit;
  font-weight: 300;
  position: relative;
  top: 0.1em;
  margin: 0;
}

header .middle .logo span {
  font-weight: 700;
  color: #0c9bd2;
}

header .search input {
  border: 1px solid #f1f1f1;
  padding: 1em 1em 1em 3.8em;
  border-radius: 25px;
  width: 30em;
  background: #fafafa;
  background-image: url(../img/search_light_2-1.svg);
  background-repeat: no-repeat;
  background-position: 15px 8px;
}

header .search input:focus {
  outline: 0;
  background: #fff;
  background-image: url(../img/search_light_2-1.svg);
  background-repeat: no-repeat;
  background-position: 15px 8px;  
  border: 1px solid #0c9bd2;
}

header .profile {
  display: flex;
}

header .profile div {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

header .profile div:not(:last-child){
  margin-right: 1em;
}

header .profile .button span {
  margin-top: 0.5em;
}

header nav {
  padding: 1em 0em;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

header nav li:not(:last-child){
  margin-right: 1.5em;
}

header nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}

.banner {
  width: 1366px;
  height: 355px;
  background-image: url(../img/winter_banner_1366.png);
  background-repeat: no-repeat;
  box-shadow: inset 0px 5px 10px -10px rgba(0,0,0,0.75);

}

.select-car {
  /*background-image: linear-gradient(180deg, #f9f9f9, #fff);*/
  background: #ececec;
  border-top: 2px solid #cacaca;
  padding: 2em;
}

.select-car .title {
  padding: 0em 0em 0 0em;
}

.select-car h1, .select-car h2 {
  margin: 0;
}

.select-car h1 {
  font-weight: 700;
  margin-bottom: 0.3em;
}

.select-car h2 {
  font-weight: 300;
  font-size: 1.2em;
  color: #777;
  margin-bottom: 1.3em;
}

.select-car .select {
  padding: 0 0em 0em 0em;
  display: flex;
}

.select-car .title img {
  margin-right: 0.3em;
}

.select-car .select select {
  padding: 0.5em;
  margin: 0 2em 0 0;
  flex-grow: 1;
  background: #f9f9f9;
  border: 1px solid #c9c9c9;
  color: #555;
  font-weight: 700;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
}

.select-car button {
  background: #0d4154;
  padding: 1em;
  border-radius: 5px;
  border: 0;
  color: #fff;
}

.car-brands {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1px;
  background: #E8E9F2;
  border-top: 1px solid #E8E9F2;
}

.car-brands a {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.2s ease;
}

.car-brands a:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 3px rgba(31,58,147,0.19);
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.car-brands a img {
  width: 100px;
}

.fav-categories {
  padding: 2em 0;
}

.fav-categories h1 {
  font-weight: 700;
  margin: 0 0 0.3em 0;
}

.fav-categories h2 {
  font-weight: 300;
  font-size: 1.2em;
  color: #777;
  margin: 0 0 1.3em 0;
}

.fav-categories h1 img {
  margin-right: 0.3em;
}

.fav-categories .categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.fav-categories .categories a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background: #f1f1f1;
  border: 1px solid transparent;
  -webkit-transition: all 0.1s ease;
}

.fav-categories a:hover {
  background: linear-gradient(145deg, #0c9bd2, #58c7f2);
  border: 1px solid transparent;
  -webkit-transition: all 0.1s ease;
}

.fav-categories .categories a img {
  width: 90%;
}

.fav-categories .category-frame p {
  padding: 0.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.fav-categories .category-frame:hover {
  font-weight: 700;
}

.contact-info {
  background: linear-gradient(-45deg, #4A00E0, #8E2DE2);
  color: #fff;
  padding: 3em 2em 4em 2em;
}

.contact-info h1 {
  font-weight: 700;
  font-size: 3em;
  margin: 0;
}

.contact-info h2 {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0 0 2em 0;
}

.contact-info .info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.contact-info .info div {
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.9em;
}

.contact-info .info div:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 1em;
}

.contact-info .info img {
  margin-right: 0.8em;
}

.contact-info .info span span {
  font-weight: 700 !important;
}

.promo-parts {
  /*background: #1f3a93;*/
  background: linear-gradient(145deg, #0c9bd2, #58c7f2);
}

.promo-parts .title {
  padding: 2em;
}

.promo-parts h1 {
  font-weight: 700;
  margin: 0 0 0.3em 0;
  color: #fff;
}

.promo-parts h2 {
  font-weight: 300;
  font-size: 1.2em;
  color: #fff;
  margin: 0;
}

.promo-parts h1 img {
  margin-right: 0.3em;
}

.promo-parts .parts {
  background: #cee6ef;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.promo-parts .parts .part {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 1em 0 1em;
  margin: 0 0 0 0;
  border: 1px solid transparent;
  box-shadow: 0px 20px 20px 1px rgba(5,30,40,0.05);
  transition: all 0.1s ease;  
  position: relative;
  top: 0;
  border-radius: 0.5em;
}

.promo-parts .parts .part:hover {
  border: 1px solid #9ECBE7;
  box-shadow: 0px 20px 40px 1px rgba(5,30,40,0.3);
  transition: all 0.2s ease;  
  top: -10px;
}

.promo-parts .parts .product-title {
  font-weight: 700;
  text-align: center;
}

.promo-parts .parts .product-number {
  font-weight: 300;
  font-size: 0.8em;
}

.promo-parts .parts .price-info {
  padding: 1em 0 1em 0;
  margin: 1em 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #E8E9F2;
}

.promo-parts .parts .price-info .discount {
  background: #2ECC71;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-weight: 700;
}

.promo-parts .parts .price-info .price {
  font-weight: 700;
  font-size: 1.5em;
}

.parts-brands {
}

.parts-brands .title {
  padding: 2em 2em 2em 2em;
  background: #DFDBCE;
}

.parts-brands h1 {
  font-weight: 700;
  margin: 0 0 0.3em 0;
}

.parts-brands h2 {
  font-weight: 300;
  font-size: 1.2em;
  color: #777;
  margin: 0 0 0 0;
}

.parts-brands h1 img {
  margin-right: 0.3em;
}

.parts-brands .brands {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1px;
  background: #E8E9F2;
  border-top: 1px solid #E8E9F2;  
}

.parts-brands .brands img {
  width: 50%;
}

.parts-brands .brands a {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.2s ease;  
}

.parts-brands .brands a:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 3px rgba(31,58,147,0.19);
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;  
}

footer {
  background: linear-gradient(-45deg, #333333, #555);
  border-top: 1px solid #999;
  padding: 2em;
}

footer .logo {
  font-size: 2em;
  font-weight: 300;
  display: flex;
  color: #999;
}

footer .logo .img {
  margin: 0 0.3em 0 0;
  background-image: url(../img/logo_light.svg);
  fill: #999;
  height: 48px;
  width: 48px;
}

footer .logo h1 {
  display: inline-block;
  font-size: inherit;
  font-weight: 300;
  position: relative;
  top: 0.1em;
  margin: 0;
}

footer .logo span {
  font-weight: 700;
}

footer ul {
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 59px;
  display: flex;
}

footer li:not(:last-child) {
  margin-right: 1em;
}

footer li a {
  color: #fff;
  text-decoration: none;
}

footer li a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

