
  header .top img { 
    width: 2em; 
  }
  
  header .middle .logo img { 
    width: 80%; 
  }

  header .search input { 
    background-size: 2em; font-size: 0.8em; 
  }

  header .search input:focus { 
    background-size: 2em;
  }

  header .profile img { 
    width: 2em; 
  }	

  .fav-categories .categories { 
    padding: 1em; 
  }
