/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   CSS by Zeman
   ========================================================================== */

  /* Variables */

:root {
  --background-color: #fbfbfb;
  --text-color: #333;
  --grey-color: #e5e5e5;
  --grey-color-2: #ccc;
  --white-color: #fff;
  --main-color: #3e64ff;
  --secondary-color: #5edfff;
  --tertiary-color: #b2fcff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

p {
  margin: 0;
}

header {
  position: sticky;
  box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.15);
}

header .middle {
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top {
  display: flex;
  padding: 5px 15px;
  background: var(--text-color);
  color: var(--grey-color-2);
  font-size: 0.9em;
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

header .top a {
  text-decoration: none !important;
  color: inherit;
}

header .top img {
  width: 16px;
  margin-right: 5px;
}

header .top div {
  margin-right: 15px;
}

header .middle .logo {
  flex: 1;
}

header .middle .logo a {
  background: url(../img/logo.png);
  background-size: contain;
  height: 50px;
  width: 100px;
  display: block;
}

header .middle .search {
  flex: 1;
  display: flex;
  justify-content: center;
}

header .middle .search input {
  padding: 10px 20px 10px 45px;
  background: var(--white-color);
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 15px 8px;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  width: 1em;
  transition: all 0.5s ease;  
  outline: none;
}

header .middle .search input:focus {
  border: 1px solid var(--main-color);  
  background-image: url(../img/search_active.svg);
  width: 25em;
  transition: all 0.5s ease;  
}

header .middle .user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 0 0;
}

header .middle .user a {
  display: flex;
  width: 24px;
  height: 24px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

header .middle .user .profile {
  background: url(../img/profile.svg);
  margin-right: 10px;
}

header .middle .user .profile:hover {
  background: url(../img/profile_hover.svg);
}

header .middle .user .garage {
  background: url(../img/garage.svg);
  margin-right: 10px;
}

header .middle .user .garage:hover {
  background: url(../img/garage_hover.svg);
}

header .middle .user .cart {
  background: url(../img/cart.svg);
  margin-right: 30px;
}

header .middle .user .cart:hover {
  background: url(../img/cart_hover.svg);
}

header .middle .user .menu {
  background: url(../img/menu.svg);
}

header .middle .user .close {
  background: url(../img/menu_close.svg);
}

header .middle .user .cart span {
  color: var(--white-color);
  background: red;
  position:relative;
  top: -9px;
  left: 15px;
  padding: 0 5px;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 40px;
}

header .mob_search input {
  padding: 10px 20px 10px 45px;
  background: var(--white-color);
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 15px 8px;
  border: 1px solid var(--grey-color);
  border-left: 0;
  border-right: 0;
  outline: none;
  width: 100%;
  font-size: 0.8em;
}

header .mob_search input:focus {
  border-bottom: 1px solid var(--main-color);  
  background-image: url(../img/search_active.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 15px 8px;
}

header nav {
  background: var(--white-color);
  border-top: 1px solid var(--main-color);
  display: none;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav li {
}

header nav li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  padding: 15px 15px;
  border-bottom: 1px solid var(--grey-color);
  display: block;
  text-align: center;
  font-size: 0.8em;
}

header nav li a:hover {
  color: var(--white-color);
  background: var(--main-color);
  /*background-image: linear-gradient(145deg, var(--main-color), var(--secondary-color));*/
}

.garage_info {
  border-top: 1px solid var(--grey-color);
}

.garage_info .vehicle {
  background: var(--white-color);
  padding: 0 15px 0 0;
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-gap: 10px;
  border-bottom: 1px solid var(--grey-color);
}

.garage_info img {
  width: 100%;
  height: 100%;
}

.garage_info .info {
  padding: 5px 0;
}

.garage_info .vehicle_select {
  overflow: hidden;
  padding: 10px;
  background: var(--white-color);
  border-bottom: 1px solid var(--grey-color);
}

.garage_info .vehicle_select form {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 10px;
}

.garage_info .vehicle_select select {

}

.wrap {
  width: 100%;
}

.banner_1 {
  display: block;
  background: url(../img/banner_1.png);
  background-repeat: no-repeat;
  height: 200px;
  width: 375px;
}

.promo_parts {
  padding: 15px;
}

.section_title {
  margin: 0;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-size: 1.6em;
}

.section_title:after {
  content: "";
  padding-top: 5px;
  width: 30%;
  display: block;
  border-bottom: 3px solid var(--main-color);
}

.promo_parts .parts {
  padding: 15px 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 15px;
}

.promo_parts .part {
  padding: 10px;
  border: 1px solid #000;
}

.promo_parts .part .part_photo {
  width: 100%;
}

.promo_parts .part .part_title {
  font-weight: 400;
  font-size: 1em;
  margin: 10px 0;
  padding: 0;
}

.promo_parts .part .part_info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(0,1fr) minmax(0,2fr);
  font-family: "Roboto Condensed";
}

.promo_parts .part_info .discount {
  font-weight: 700;
  color: red;
  font-size: 1.4em;
  display: flex;
  align-items: center;  
}

.promo_parts .part_info .price {
  text-align: right;
}

.promo_parts .part_info .price .old_price {
  color: var(--grey-color-2);
  text-decoration: line-through;
}

.promo_parts .part_info .price .new_price {
  font-weight: 700;
}

.promo_parts .part_info .brand img {
  display: flex;
  align-items: center;
  width: 100%;
}

.promo_parts .part_info .add_to_cart {
  display: flex;
  justify-content: flex-end;
}

.promo_parts .part_info .add_to_cart a {
  display: block;
  text-align: center;
  border-radius: 10px;
  background: var(--main-color);
  color: var(--white-color);
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 700;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

