/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  box-sizing: border-box !important;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   CSS by Zeman
   ========================================================================== */

  /* Variables */

:root {
  --background-color: #f3f3f3;
  --text-color: #333;
  --grey-color: #e5e5e5;
  --grey-color-2: #ccc;
  --grey-color-3: #f3f3f3;
  --white-color: #fff;
  --main-color: #3e64ff;
  --secondary-color: #5edfff;
  --tertiary-color: #b2fcff;

  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

p {
  margin: 0;
}

header {
  position: sticky;
  box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.15);
  z-index: 9999;
}

header .middle {
  background: var(--white-color);
}

header .middle .inner {
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top {
  display: flex;
  padding: var(--padding-s) var(--padding-l);
  background: var(--text-color);
  color: var(--grey-color-2);
  font-size: 0.9em;
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

header .top a {
  text-decoration: none !important;
  color: inherit;
}

header .top img {
  width: 16px;
  margin-right: 5px;
}

header .top div {
  margin-right: 15px;
}

header .middle .logo {
  flex: 1;
  margin-right: auto;
}

header .middle .logo a {
  background: url(../img/logo.png);
  background-size: contain;
  height: 50px;
  width: 100px;
  display: block;
}

header .middle .search {
  flex: 1;
  display: none;
  justify-content: center;
}

header .middle .search input {
  padding: 5px 20px 5px 35px;
  background: var(--white-color);
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 12px 6px;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  width: 21em;
  transition: all 0.2s ease;  
  outline: none;
}

header .middle .search input:focus {
  border: 1px solid var(--main-color);  
  background-image: url(../img/search_active.svg);
  width: 25em;
  transition: all 0.3s ease;  
}

header .middle .user {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  flex: 1;
}

header .middle .user a {
  width: 50px;
  height: 50px;
  border-left: 1px solid var(--grey-color-3);
  background-size: 50% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

header .middle .user a:hover {
  background-color: var(--grey-color-3);
}

header .middle .user .phone {
  background-image: url(../img/call_3.svg);
  background-position: 15px center !important;
  background-size: 25px !important;
  width: auto;
  padding: 0 15px 0 50px;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-family: "Roboto Condensed";
}

header .middle .user .phone {
  display: none;
}

header .middle .user .profile {
  background-image: url(../img/profile.svg);
}

header .middle .user .garage {
  background-image: url(../img/garage.svg);
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
}

header .middle .user .expand {
  width: 450px;
  position: relative;
  left: -400px;
  top: 80px;
  background: #fff;
  box-shadow: 0px 13px 38px -13px rgba(0,0,0,0.63);
  border-radius: 0 0 15px 15px;
  padding: 15px;
  display: none;
}

header .middle .user .garage .expand img {
  width: 15px;
  cursor: pointer;
}

header .middle .user .garage .expand h1 {
  font-weight: 400;
  font-size: 1.4em;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-color);
  text-transform: uppercase;
  font-family: "Roboto Condensed";
}

header .middle .user .garage .expand ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header .middle .user .garage .expand ul li {
  padding: 10px;
}

header .middle .user .garage .expand ul li:nth-child(even) {
  background: var(--grey-color-3);
}

header .middle .user .garage .expand ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--grey-color-3);
}

header .middle .user .garage .expand ul li .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .middle .user .garage .expand span {
  background:var(--main-color);
  border-radius: 25px;
  font-size: 0.8em;
  padding: 5px 10px;
  color: var(--white-color);
  margin-right: 5px;
  cursor: pointer;
}

header .middle .user .garage_active {
  background-image: url(../img/garage_hover.svg);
}

header .middle .user .cart {
  background: url(../img/cart.svg);
}

header .middle .user .cart_active {
  background: url(../img/cart_hover.svg);
}

header .middle .user .menu {
  background: url(../img/menu.svg);
}

header .middle .user .close {
  background: url(../img/menu_close.svg);
}

header .middle .user .cart span {
  color: var(--white-color);
  background: red;
  position:relative;
  top: -9px;
  left: 15px;
  padding: 0 5px;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 40px;
}

header .mob_search input {
  padding: 15px 20px 15px 45px;
  background: var(--white-color);
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 15px 12px;
  border: 1px solid var(--grey-color);
  border-left: 0;
  border-right: 0;
  outline: none;
  width: 100%;
  font-size: 0.8em;
}

header .mob_search input:focus {
  border-bottom: 1px solid var(--main-color);  
  background-image: url(../img/search_active.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 15px 12px;
}

header nav {
  background: var(--white-color);
  border-top: 1px solid var(--main-color);
  display: none;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  padding: 15px 15px;
  border-bottom: 1px solid var(--grey-color);
  display: block;
  text-align: center;
  font-size: 1em;
}

.garage_info {
  background: var(--grey-color-2);
}

.garage_info h1 {
  padding: 15px 15px 0 15px;
  color: var(--text-color);
}

.garage_info h1 span img {
  width: 0.8em;
}

.garage_info h2 {
  padding: 0 15px 0 15px;
  margin: 0;
  font-weight: 400;
  color: #555;
  font-size: 0.8em;
}

.garage_info h1:after {
  content: none;
}

.garage_info .vehicle {
  background: var(--white-color);
  padding: 0 15px 0 0;
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-gap: 10px;
}

.garage_info img {
  width: 100%;
  height: 100%;
}

.garage_info .info {
  padding: 5px 0;
}

.garage_info .vehicle_select {
  overflow: hidden;
  padding: 10px 10px 15px 10px;
  box-sizing: border-box;
}

.garage_info .vehicle_select form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 10px;
  z-index: 9999999;
}

.garage_info .vehicle_select form button {
  background: var(--main-color);
  color: var(--white-color);
  font-size: 0.8em;
  padding: 10px 0;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  font-weight: 700;
}

.wrap {
  width: 100%;
}

.section_title {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 1.6em;
}

.section_title:after {
  content: "";
  padding-top: 5px;
  margin-bottom: 10px;
  width: 3em;
  display: block;
  border-bottom: 3px solid var(--main-color);
}

.banner .bnr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}

.banner .banner_1 {
  background: var(--secondary-color);
}

.banner .banner_2 {
  background: var(--tertiary-color);
}

.promo_parts {
  padding: 15px;
}

.promo_parts .parts {
  padding: 15px 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 15px;
}

.promo_parts .part {
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo_parts .part .part_photo {
  width: 100%;
}

.promo_parts .part .part_title {
  font-weight: 400;
  font-size: 1em;
  margin: 10px 0;
  padding: 0;
}

.promo_parts .part .part_number {
  font-weight: 300;
  font-size: 0.8em;
  margin: 0 0 15px 0;
  padding: 0;
  color: var(--grey-color-2);
}

.promo_parts .part .part_number a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.promo_parts .part .part_info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(0,1fr) minmax(0,2fr);
  font-family: "Roboto Condensed";
}

.promo_parts .part_info .discount {
  font-weight: 700;
  color: red;
  font-size: 1.4em;
  display: flex;
  align-items: center;  
}

.promo_parts .part_info .price {
  text-align: right;
}

.promo_parts .part_info .price .old_price {
  color: var(--grey-color-2);
  text-decoration: line-through;
}

.promo_parts .part_info .price .new_price {
  font-weight: 700;
}

.promo_parts .part_info .brand {
  display: flex;
  align-items: center;
}

.promo_parts .part_info .brand img {
  width: 100%;
  height: auto;
}

.promo_parts .part_info .add_to_cart {
  display: flex;
  justify-content: flex-end;
}

.promo_parts .part_info .add_to_cart a {
  display: block;
  text-align: center;
  background: var(--main-color);
  color: var(--white-color);
  padding: 5px 10px;
  padding-bottom: 25px;
  max-height: 25px;
  text-decoration: none;
}

.fav_categories {
  padding: 0 15px 15px 15px;
}

.fav_categories .fav_categories_grid {
  padding: 15px 0 0 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 150px);
}

.fav_categories .fav_categories_grid a {
  background: var(--white-color);
  border: 1px solid var(--grey-color-3);
  color: var(--text-color);
  display: grid;
  grid-template-rows: minmax(0, 100px);
  text-decoration: none;
  padding: 10px 0 20px 0;
}

.fav_categories .fav_categories_grid a h1{
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 0.8em;
  text-transform: uppercase;
}

.fav_categories .fav_categories_grid a div {
  background-repeat: no-repeat;
  background-size: 55% 100%;
  background-position: center;
}

.fav_categories .fav_categories_grid a .item_1 {
  background-image: url(../img/sparkplug_light.svg);
}

.fav_categories .fav_categories_grid a .item_2 {
  background-image: url(../img/starter.svg);
}

.fav_categories .fav_categories_grid a .item_3 {
  background-image: url(../img/steering.svg);
}

.fav_categories .fav_categories_grid a .item_4 {
  background-image: url(../img/shock.svg);
}

.fav_categories .fav_categories_grid a .item_5 {
  background-image: url(../img/timing_belt.svg);
}

.fav_categories .fav_categories_grid a .item_6 {
  background-image: url(../img/brakes_light.svg);
}

.fav_categories .fav_categories_grid a .item_7 {
  background-image: url(../img/wipers.svg);
}

.fav_categories .fav_categories_grid a .item_8 {
  background-image: url(../img/oil.svg);
}

.fav_categories .fav_categories_grid a .item_9 {
  background-image: url(../img/battery_light.svg);
}

.fav_categories .fav_categories_grid a .item_10 {
  background-image: url(../img/clutch_light.svg);
}

.brands {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 15px;
  grid-template-rows: 100px;
}

.brands a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand_1 {
  background-image: url(../img/luk.png);
  background-repeat: no-repeat;
  background-position: center;
}

.product {
  margin: 0 auto 15px auto;
  padding: 0;
  background: var(--white-color);
}

.product .product_title {
  display:flex;
  align-items: center;
  padding: 30px 15px 0 15px;
}

.product .product_title .title {
  margin-left: 15px;
}

.product .product_title img {
  max-height: 40px;
}

.product .product_title h1 {
  margin: 0;
  font-weight: 700;
  font-family: 'Roboto Condensed';
  font-size: 1.6em;
}

.product .product_title h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

.product .product_photos {
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
}

.product .product_photos img {
  max-width: 80%;
}

.product .product_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid var(--grey-color-2);
}

.product .product_price .discount {
  color: red;
  font-size: 24px;
  font-weight: 700;
}

.product .product_price .discount_savings {
  color: var(--text-color);
  font-size: 0.8em;
}

.product .product_price .old_price {
  color: var(--grey-color-2);
  text-decoration: line-through;
  text-align: right;
}

.product .product_price .new_price {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
}

.product .product_price .add_to_cart {
  padding: 10px 10px;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.product .product_price .add_to_cart img {
  height: 20px;
  margin-right: 5px;
}

.product .product_details {
  padding: 15px 15px;
  display: flex;
  align-items: center;
}

.product .product_details .details_box {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.product .product_details .details_box .title {
  background: #c4c4c4;
  padding: 10px 15px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .product_details .details_box .title a {
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: inherit;
}

.product .product_details .details_box .content {
  background: var(--grey-color-3);
  border: 1px solid var(--grey-color);
}

.product .product_details .details_box .content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product .product_details .details_box .content li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.product .product_details .details_box .content li:nth-of-type(odd) {
  background:var(--grey-color);
}

.product .product_details .details_box .content li span:first-of-type {
  font-weight:  700;
}

.contact {
  padding: 15px;
  color: var(--text-color);
  background: var(--white-color);
  background-image: url(../img/hands.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 97% 0;
  border-top: 1px solid var(--grey-color-3);
  box-shadow: 0px 8px 8px -8px rgba(0,0,0,0.75);
  position: relative;
}

.contact h1 {
  margin: 0 0 10px 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6em;
  font-family: "Roboto Condensed";
  color: var(--text-color);
}

.contact h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1em;
  font-family: "Roboto";
}

.contact h2:after {
  content: "";
  padding-top: 20px;
  width: 4em;
  display: block;
  border-bottom: 3px solid var(--main-color);
}

.contact .contact_grid {
  display: grid;
  grid-row-gap: 30px;
  padding: 20px 0;
}

.contact .contact_grid img {
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

.contact .contact_item {
  display: flex;
  align-items: center;
}

.contact .contact_item span {
  font-weight: 700;
  font-family: "Roboto Condensed"
}

.contact .contact_item a {
  text-decoration: none;
  color: inherit;
}

footer {
  background: var(--grey-color-2);
  background-image: url(../img/bulgaria_contour_map.png);
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: left 15px;
  padding-bottom: 30px;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 15px;
  grid-row-gap: 30px;
  padding: 15px;
}

footer .company_info .button {
  font-size: 1.2em;
  font-weight: 700;
  background: var(--background-color);
  padding: 15px;
  display: block;
  width: 200px;
  margin: 15px 0;
  border-bottom: 2px solid var(--grey-color);
}

footer .company_info .logo {
  margin-bottom: 15px;
  display: block;
}

footer .logo img {
  width: 100px;
  height: 50px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li:not(:last-child) {
  margin-bottom: 0.5em;
}

footer ul li:first-child {
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Roboto Condensed";
}

footer ul li:first-child:after {
  content: "";
  padding-top: 5px;
  margin-bottom: 10px;
  width: 2em;
  display: block;
  border-bottom: 3px solid var(--main-color);
}

footer a {
  text-decoration: none;
  color: inherit;
  line-height: 0.7em;
  font-size: 1.2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

