@media (max-width: 320px) {
	.section_title {
    font-size: 1.4em;
  }

  .contact h1 {
    font-size: 1.4em;
  }

  .contact h2 {
    font-size: 1em;
  }

  .contact .contact_item {
    font-size: 0.8em;
  }

  .contact .contact_grid img {
    width: 28px;
    height: 28px;
    margin-right: 15px;
  }

  .promo_parts .part .part_title {
    font-size: 0.8em;
  }

  .promo_parts .part .part_number {
    font-size: 0.7em;
  }

  .promo_parts .part_info .discount {
    font-size: 1em;
  }

  .promo_parts .part_info .add_to_cart a {
    padding: 3px 7px;
    font-size: 0.9em;
  }

  .banner .bnr a {
    width: 320px;
    height: 103px;
    background-image: url(../img/banner_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .fav_categories .fav_categories_grid a div {
    background-size: 50%;
  }

  .fav_categories .fav_categories_grid a h1{
    font-size: 0.7em;
    text-transform: uppercase;
  }

  footer a {
    font-size: 0.9em;
  }

  footer ul li:not(:last-child) {
    margin-bottom: 0.2em;
  }

  footer ul li:first-child {
    font-size: 1.2em;
  }
}

@media (min-width: 375px) {
  .banner .bnr a {
    width: 375px;
    height: 121px;
    background-image: url(../img/banner_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media (min-width: 768px) {
  .fav_categories .fav_categories_grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 150px);
  }

  .banner .bnr a {
    width: 768px;
    height: 248px;
    background-image: url(../img/banner_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .brands {
    width: 100%;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 15px;
    grid-template-rows: 100px;
  }

  .promo_parts .parts {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 15px;
  }

  .banner {
    margin-bottom: 30px;
  }

  header .middle .search {
    display: flex;
  }

  .mob_search {
    display: none;
  }

  header .middle .logo a {
    height: 80px;
    width: 160px;
  }

  header .middle .search input {
    padding: 10px 20px 10px 35px;
    background-size: 1.1em;
    background-position: 12px 11px;
  }

  header nav {
    display: flex;
    justify-content: center;
    position: static;
    border-top: 1px solid var(--grey-color-3);
  }

  header nav ul {
    width: 1280px;
    display: flex;
  }

  header .middle .user .menu {
    display: none;
  }

  header .middle .user .cart {
    margin-right: 10px;
  }

  .section_title {
    font-size: 1.8em;
  }

  .contact h1 {
    font-size: 3em;
  }

  .company_info {
    grid-column: 1 / -1;
  }

  .footer_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .fav_categories .fav_categories_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: minmax(0, 150px);
  }

  .banner .bnr a {
    width: 1024px;
    height: 330px;
    background-image: url(../img/banner_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .promo_parts .parts {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 15px;
  }

  .company_info {
    grid-column: 1/3;
  }

  .footer_grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer .company_info .button:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--main-color);
  }

  .contact {
    padding: var(--padding-l) var(--padding-xxl);
  }

  .contact h1 {
    font-size: 3em;
  }

  .contact .contact_grid {
    grid-column-gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 30px 0;
  }
  
  header .middle .search input {
    width: 27em;
  }

  header .middle .search input:focus {
    width: 32em;
  }

  
  header nav li a {
    font-weight: 500;
    border-bottom: 0;
    box-shadow: inset 0px -1px 0px 0px transparent;
    transition: all 0.2s ease;  
  }

  header nav li a:hover {
    box-shadow: inset 0px -5px 0px 0px var(--main-color);
    transition: all 0.2s ease;  
  }

  .promo_parts .part {
    transition: all 0.2s ease;  
    position: relative;
    top: 0;
  }

  .promo_parts .part:hover {
    border-top: 1px solid var(--main-color);
    box-shadow: 0px 13px 16px -2px rgba(0,0,0,0.3);
    top: -5px;
    position: relative;
    transition: all 0.4s ease;  
  }

  .fav_categories .fav_categories_grid a:hover {
    background: linear-gradient(145deg, #111, #333);
    color: #fff;
  }
}

@media (min-width: 1280px) {

  header .middle {
    display: flex;
    justify-content: center;
  }

  header .middle .inner {
    background: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
  }

  .wrap {
    width: 1280px;
    margin: 0 auto;
  }

  .banner .bnr a {
    width: 1280px;
    height: 413px;
    background-image: url(../img/banner_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .fav_categories .fav_categories_grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: minmax(0, 150px);
  }

  .promo_parts .parts {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 15px;
  }

  .contact {
    border: 1px solid var(--grey-color-3);
    border-bottom: 0;
  }

  .contact h1 {
    font-size: 3em;
  }

  .promo_parts {
    padding: 15px 0;
  }

  .fav_categories {
    padding: 0 0 var(--padding-l) 0;
  }

  .footer_grid {
    padding: var(--padding-xxl);
  }
}