* {
    margin: 0;
}

* {
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
  }

a {
    text-decoration: none;
    color: inherit;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #F7F8FA;
    color: #333;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

.signup-promo {
    background-image: linear-gradient(rgba(0,179,218,.8), rgba(0,87,168,.8)), url(../images/signupbg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 30px;
}

.signup-promo h1 {
    font-size: 18px;
    text-align: center;
    align-self: center;
    font-weight: 600;
    color: #fff;
    width: 25vw;
}

.signup-promo img {
    width: 50vh;
    align-self: center;
}

.signup-promo img:nth-of-type(0) {
    width: 50vh;
    padding: 30px 0;
    align-self: center;
}

.signup-promo__benefits {
    align-self: center;
}

.signup-promo__benefits-title {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 16px;
}

.signup-promo__benefits-list {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    line-height: 2;
}

.signup-promo__benefits-list img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signup-form {
    padding: 10vh 5vw;
}

.signup-form h1 {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.signup-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.signup-form input[type=text], .signup-form input[type=email], .signup-form input[type=password] {
    border: 0;
    position: relative;
    top: 0;
    padding: 15px 25px 15px 45px;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.05);
    border-bottom: 1px solid transparent;
}

.signup-form input[type=text]:focus, .signup-form input[type=email]:focus, .signup-form input[type=password]:focus {
    box-shadow: 0px 5px 20px 0px rgba(0,118,255,0.15);
    outline: none;
    border-bottom: 1px solid #6B46FF;
}

.signup-form__name {
    background-image: url(../images/name.png);
    background-repeat: no-repeat;
    background-position: 15px 14px;
}

.signup-form__email {
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    background-position: 15px 14px;
}

.signup-form__phone {
    background-image: url(../images/phone.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 15px 14px;
}

.signup-form__password {
    background-image: url(../images/password.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 15px 14px;
}

.signup-form input[type=checkbox] {
margin: 15px 5px 0 10px;
}

.signup-form__action {
    display: inline-block;
    background: #0076FF;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    padding: 0.5em 1em;
    font-weight: 600;
    margin-right: 1em;
}

.signup-form__action:hover {
    background-image: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    box-shadow: 0 4px 15px 0 rgba(67, 19, 204, 0.5);
}


@media only screen and (max-width: 1366px) {

    .signup-promo__benefits-list {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 2;
    }

    .signup-form {
        padding: 10vh 2vw;
    }

}