* {
    margin: 0;
}

* {
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --bg-color: #212A49;
    --text-color: #333;
    --site-width: 1366px;
}

body {
    background: #fff;
    color: var(--text-color);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

header {
    background-image: url(images/11-1600x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

header .inner {
    background: rgba(33,42,73,0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .inner h1 {
    font-size: 5em;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    margin: 0;
}

header .inner h2 {
    color: #FDDE3D;
    font-size: 2.5em;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

.machine-types {
    width: var(--site-width);
    padding: 2em 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
    position: relative;
    top: -7em;
    margin-bottom: -6em;
}

.machine .photo {
    height: 23em;
    border: 5px solid #FDDE3D;
    border-radius: 50%;
}

.machine-1 {
    background-image: url(images/1-1152x1536.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.machine-2 {
    background-image: url(images/12-1600x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.machine-3 {
    background-image: url(images/7-1200x1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.machine h1 {
    font-weight: 700;
    text-align: center;
    font-size: 1.875em;
    margin: 0;
}

.machine h2 {
    font-weight: 300;
    text-align: center;
    font-size: 1.25em;
    margin: 0;
}

.company_info {
    width: var(--site-width);
    padding: 2em 0;
    font-size: 1.4em;
    border-top: 1px solid #ececec;
}

.company_info img {
    margin-top: 1em;
}

.gallery {
    width: 100%;
    padding: 5em 0;
    background: #777;
    color: #fff;
}

.gallery-2 {
    background: #555;
    color: #fff;
}

.gallery-3 {
    background: #333;
    color: #fff;
}

.gallery h1 {
    font-weight: 700;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
}

.gallery h2 {
    font-weight: 300;
    text-align: center;
    font-size: 2em;
    margin: 0 0 2em 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); /* see notes below */
    grid-gap: 1em;
}

.gallery img {
    width: 100%;
}

.black {
    background: #111;
}

footer {
    width: var(--site-width);
    background: #111;
    color: #fff;
    padding: 3em 0;
}